$header-main-color: linear-gradient(to left, #f46b45, #eea849);
.footer {
  // position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background: $header-main-color;
  // height: 50px;
  padding: 1.2em;
  width: 100%;
}
